@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  /* Global */
  --color-primary: theme(colors.amber.100);
  --color-secondary: theme(colors.lime.100);
  --font-heading: 'Menlo', 'Monaco', 'Consolas', monospace;
  --font-body: theme(fontFamily.sans);;

  /* Navbar */
  --spacing-navbar: 5rem;
}

@layer base {
  [id] {
    @apply scroll-mt-navbar;
  }
}
