@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    /* Global */
    --color-primary: theme(colors.amber.100);
    --color-secondary: theme(colors.lime.100);
    --font-heading: 'Menlo', 'Monaco', 'Consolas', monospace;
    --font-body: theme(fontFamily.sans);;

    /* Navbar */
    --spacing-navbar: 5rem;
    --spacing-match-logo-scroll-offset: 8rem;
}

@layer base {
    [id] {
    @apply scroll-mt-navbar;
    }
}

@layer utilities {
    /* Responsive Text Sizes */
    .text-responsive-xs { @apply text-xs sm:text-sm; }
    .text-responsive-sm { @apply text-base sm:text-lg; }
    .text-responsive-md { @apply text-lg sm:text-xl; }
    .text-responsive-lg { @apply text-xl sm:text-4xl; }
    .text-responsive-content { @apply text-xs sm:text-sm; }

    /* Responsive Padding */
    .p-responsive { @apply p-3 sm:p-4; }
    .p-responsive-sm { @apply p-4 sm:p-6; }
    .px-responsive { @apply px-1 sm:px-2; }
    .py-responsive { @apply py-1 sm:py-2; }
    .py-responsive-sm { @apply py-2 sm:py-3; }
    .pt-responsive { @apply pt-1 sm:pt-2; }
    .pb-responsive { @apply pb-2 sm:pb-3; }
    .pb-responsive-md { @apply pb-4 sm:pb-6; }
    .pl-responsive { @apply pl-1 sm:pl-2; }
    .pr-responsive { @apply pr-1 sm:pr-0; }

    /* Responsive Margins */
    .mb-responsive { @apply mb-6 sm:mb-8; }
    .mb-responsive-lg { @apply mb-16 sm:mb-32; }

    /* Responsive Spacing */
    .space-y-responsive { @apply space-y-3 sm:space-y-4; }
    .space-y-responsive-sm { @apply space-y-1 sm:space-y-2; }
    .gap-responsive { @apply gap-4 sm:gap-8; }
    .gap-responsive-sm { @apply gap-2 sm:gap-4; }
    .gap-responsive-xs { @apply gap-3 sm:gap-6; }

    /* Responsive Layout */
    .px-container { @apply px-3 sm:px-6; }
    .px-section { @apply px-2 sm:px-3; }
    .py-section { @apply py-4 sm:py-6; }
}
